
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-style: normal;
}
h2{font-size: 50px;}
section {text-align: center;}
fieldset{margin: 20px 0px;}
body{background-image: url('bg.png');background-size: cover;}