
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-style: normal;
}
h2{font-size: 50px;}
section {justify-content: center;border: 1px solid red}
fieldset{margin: 20px 0px;}
body{background-image: url('bg.png');background-size: cover;text-align: center;}
.border{display: flex;flex-direction: column;justify-content: center;}
button{height: 40px;border-radius: 20px;background-color: cornsilk;margin: 0px 30px;}
input{height: 40px;border-radius: 20px}